{% extends 'content.html' %}
{% block h %}
    <div id="page-wrapper">
        <div class="header">
            <h3 class="page-header">
                添加服务器
            </h3>
        </div>

        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="card-title">
                        <div class="title">添加单台</div>
                    </div>
                </div>
                <div class="panel-body">
                    <form action="{% url 'add' %}" method="post" class="form-horizontal">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">服务器名:</label>
                            <div class="col-sm-10">
                                {{ form.hostname }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">系统:</label>
                            <div class="col-sm-10">
                                {{ form.system }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">外网IP:</label>
                            <div class="col-sm-10">
                                {{ form.ip }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">内网IP:</label>
                            <div class="col-sm-10">
                                {{ form.intranet_ip }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Root账号:</label>
                            <div class="col-sm-10">
                                {{ form.user }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Root密码:</label>
                            <div class="col-sm-10">
                                {{ form.password }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">用户:</label>
                            <div class="col-sm-10">
                                {{ form.normal_user }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">密码:</label>
                            <div class="col-sm-10">
                                {{ form.normal_pwd }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">端口:</label>
                            <div class="col-sm-10">
                                {{ form.port }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">分组:</label>
                            <div class="col-sm-10">
                                {{ form.group }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-50 col-sm-10">
                                <button type="submit" style="margin-left: 0%;" class="btn btn-default">添加</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div style="color:red" class="col-sm-offset-50 col-sm-10">
                                <p style="color: red;">{{ mes }}</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="card-title">
                        <div class="title">批量导入</div>
                    </div>
                </div>
                <div class="panel-body">
                    <!-- import excel  -->
                    <form enctype="multipart/form-data" action="/imp/" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {#                            <label for="exampleInputFile">File input</label>#}
                            <input type="file" id="exampleInputFile" name="myfile">
                            <p class="help-block">只支持Excel文档导入,模板可以重置密码后下载查看,相同IP不会重复添加</p>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-50 col-sm-10">
                                <button type="submit" style="margin-left: -10px;" class="btn btn-default">提交</button>
                            </div>
                        </div>
                    </form>
                    <div class="form-group">
                        <div style="color:red" class="col-sm-offset-50 col-sm-10">
                            <p style="color: red;">{{ mes }}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="/static/assets/js/jquery-1.10.2.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
{% endblock %}