{% extends 'content.html' %}
{% block h %}
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div class="header">
            <h3 class="page-header">
                服务器信息
            </h3>
        </div>
        <div id="panel panel-default">


            <div class="col-md-12">
                <!-- Advanced Tables -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {#                        <select class="select-control" onchange="s_click(this)">#}
                        {#                            <option value="/hard/">所有机器</option>#}
                        </select>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th>分类</th>
                                    <th>服务器名</th>
                                    <th>IP地址</th>
                                    <th>系统</th>
                                    <th>系统版本</th>
                                    <th>CPU核心数</th>
                                    <th>CPU型号</th>
                                    <th>内存信息</th>
                                    <th>硬盘总容量</th>
                                    <th>状态</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for x in all_host %}
                                    <tr class="even gradeC">
                                        <td>{{ x.user_group }}</td>
                                        <td>{{ x.hostname }}</td>
                                        <td>{{ x.ip }}</td>
                                        <td>{{ x.system }}</td>
                                        <td>{{ x.system_info }}</td>
                                        <td>{{ x.cpu_count }}</td>
                                        <td>{{ x.cpu_info }}</td>
                                        <td>{{ x.mem_info }}</td>
                                        <td>{{ x.hard_info }}</td>
                                        <td>{{ x.status }}</td>
                                        <script>
                                            function handle_hard() {
                                                location.href = "{% url 'handle_hard'%}"
                                            }
                                        </script>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% if auth == 1 %}
                    <button type="button" class="btn btn-default" onclick="handle_hard()">
                        更新所有信息
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- /. PAGE INNER  -->
{% endblock %}
{% block js %}
    <script src="/static/assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="/static/assets/js/jquery.metisMenu.js"></script>
    <!-- DATA TABLE SCRIPTS -->
    <script src="/static/assets/js/dataTables/jquery.dataTables.js"></script>
    <script src="/static/assets/js/dataTables/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('#hardware').attr('class', 'active-menu');
            $('#dataTables-example').dataTable();
        });
    </script>
    {#    <script src="/static/assets/js/custom-scripts.js"></script>#}
    <script src="/static/css/style.js"></script>
    <link href="/static/css/style1.css" rel="stylesheet"/>
{% endblock %}