{% extends 'content.html' %}
{% block h %}
    <div id="page-wrapper">
        <div class="header">
            <h3 class="page-header">
                小工具
            </h3>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading"><i class="glyphicon glyphicon-wrench"></i>
                                    端口检测
                                </div>
                                <div class="panel-body">
                                    <p>这是一个可以用于端口检测的工具</p>
                                </div>
                                <div class="panel-footer" style="">
                                    <a data-toggle="modal" href="#port" data-target="#port"><i
                                            class="glyphicon glyphicon-chevron-right"></i> 使用</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading"><i class="glyphicon glyphicon-wrench"></i>
                                    ping检测
                                </div>
                                <div class="panel-body">
                                    <p>这是一个检测连接性的工具</p>
                                </div>
                                <div class="panel-footer" style="">
                                    <a href="http://ping.chinaz.com/" target="_blank"><i
                                            class="glyphicon glyphicon-chevron-right"></i> 使用</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading"><i class="glyphicon glyphicon-wrench"></i>
                                    修改所有服务器密码
                                </div>
                                <div class="panel-body">
                                    <p>谨慎操作，每次可修改时间间隔为一星期</p>
                                </div>
                                <div class="panel-footer" style="">
                                    <a href="javascript:void(0);"
                                       onclick="if (confirm('确定要重置密码吗？')) {window.location.href='{% url 'change_pwd' %}'}"><i
                                            class="glyphicon glyphicon-chevron-right"></i> 使用</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading"><i class="glyphicon glyphicon-wrench"></i>
                                    更新所有系统状态
                                </div>
                                <div class="panel-body">
                                    <p>更新所有服务器的CPU、硬盘、内存等信息</p>
                                </div>
                                <div class="panel-footer" style="">
                                    <a onclick="if (confirm('你确定要更新吗？')) { location.href='/handle_hard/'}"><i class="glyphicon glyphicon-chevron-right"></i> 使用</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading"><i class="glyphicon glyphicon-wrench"></i>
                                    批量执行命令
                                </div>
                                <div class="panel-body">
                                    <p>批量执行各种脚本命令，使用多线程加队列执行</p>
                                </div>
                                <div class="panel-footer" style="">
                                    <a href="/shell/"><i class="glyphicon glyphicon-chevron-right"></i> 使用</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading"><i class="glyphicon glyphicon-wrench"></i>
                                    supervisor管理
                                </div>
                                <div class="panel-body">
                                    <p>进程管理工具，用于服务器进程的集群管理</p>
                                </div>
                                <div class="panel-footer" style="">
                                    <a href="/showSupervisor/"><i class="glyphicon glyphicon-chevron-right"></i>
                                        使用</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading"><i class="glyphicon glyphicon-wrench"></i>
                                    时间戳转换工具
                                </div>
                                <div class="panel-body">
                                    <p>爱的魔力转圈圈</p>
                                </div>
                                <div class="panel-footer" style="">
                                    <a data-toggle="modal" href="#timestamp" data-target="#timestamp"><i
                                            class="glyphicon glyphicon-chevron-right"></i> 使用</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal fade" id="port" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" style="width: 220px">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">端口检测</h4>
                                </div>
                                <div class="modal-body">
                                    <h4 class="modal-title">IP：</h4>
                                    <label>
                                        <input class="form-control" type="text" id="port_ip">
                                    </label>
                                    <h4 class="modal-title">端口：</h4>
                                    <label>
                                        <input class="form-control" type="number" min="0" max="65535" id="port_p"/>
                                    </label>
                                    <br>
                                    <button class="btn btn-default" id="port_btn"
                                            style="margin-top:15px;margin-left: 60px;color:#fff;background-color:#2caef5;border-color:#2caef5;border-style:solid">
                                        开始
                                    </button>
                                    <h4 hidden class="modal-title" id="status" style="color: #ff0006">检测结果：</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="timestamp" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" style="width: 585px">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">时间戳转换工具</h4>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        <label class="form_left" style="display:block">时间戳</label>
                                        <input type="text" class="form-control" id="js_timestamp" name="timestamp"
                                               style="display:inline">
                                        <select id="js_timestamp_unit" class="select-control"
                                                style="width: 110px;height: 34px;padding: 5px 12px">
                                            <option value="s">秒(s)</option>
                                            <option value="ms">毫秒(ms)</option>
                                        </select>
                                        <button id="js_convert_timestamp" type="button" class="btn btn-default"
                                                style="margin-left:0;height: 34px;margin-bottom: 2px;color:#fff;background-color:#2caef5;border-color:#2caef5;border-style:solid">
                                            转换 <i
                                                class="glyphicon glyphicon-chevron-right"></i>
                                        </button>
                                        <input type="text" class="form-control" id="js_datetime" name="datetime"
                                               style="display:inline">
                                    </p>

                                    <p>
                                        <label class="form_left" style="display:block">时间</label>
                                        <input type="text" class="form-control" id="js_datetime_o" name="datetime_o"
                                               style="display:inline">
                                        <select id="js_timestamp_unit_o" class="select-control"
                                                style="width: 110px;height: 34px;padding: 5px 12px">
                                            <option value="s">秒(s)</option>
                                            <option value="ms">毫秒(ms)</option>
                                        </select>
                                        <button id="js_convert_datetime" type="button" class="btn btn-default"
                                                style="margin-left: 0;height: 34px;margin-bottom: 2px;color:#fff;background-color:#2caef5;border-color:#2caef5;border-style:solid">
                                            转换 <i
                                                class="glyphicon glyphicon-chevron-right"></i>
                                        </button>
                                        <input type="text" class="form-control" id="js_timestamp_o"
                                               name="timestamp_o"
                                               style="display:inline">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/static/assets/js/jquery-1.10.2.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <script src="/static/js/tools.js"></script>
    <script>
        $(document).ready(function () {
            $('#samllTools').attr('class', 'active-menu')
        });
    </script>
{% endblock %}