<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pwds.host }}</title>
    <link rel="icon" href="/static/images/favicon.ico"/>
    <link rel="stylesheet" href="/static/xterm/xterm.css"/>
    <link rel="stylesheet" href="/static/xterm/style.css"/>
</head>
<body>

<div id="django-webssh-terminal">
    {% csrf_token %}
    <div id="terminal"></div>
</div>
<script>
    webssh({{id}})
</script>
<script src="/static/jquery.min.js"></script>
<script src="/static/xterm/xterm.js"></script>
<script src="/static/webssh.js"></script>
</body>
</html>