<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pwds.host }}</title>
    <link rel="icon" href="/static/images/favicon.ico"/>
    <link rel="stylesheet" href="/static/xterm/xterm.css"/>
    <link rel="stylesheet" href="/static/xterm/style.css"/>
</head>
<body>

<div id="django-webssh-terminal">
    {% csrf_token %}
    <div id="terminal"></div>
</div>
<script>
    window.onload = function post_data() {
        var csrf = $("[name='csrfmiddlewaretoken']").val();
        $.ajax({
            url: "/webssh/" + "{{uid}}",
            type: "POST",
            data: {'csrfmiddlewaretoken': csrf},
            async: false,
            success: function (result) {
                var obj = result;
                var code = obj.code;
                if (code === 0) {
                    unique = obj.message;
                } else {
                    var error = obj.error;
                    alert(error);
                }
            }
        });

        if (unique !== null) {
            webssh(unique)
        }
    }

</script>
<script src="/static/jquery.min.js"></script>
<script src="/static/xterm/xterm.js"></script>
<script src="/static/webssh.js"></script>
</body>
</html>